<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">


<mapper namespace="com.navercorp.pinpoint.web.metric.dao.pinot.PinotSystemMetricLongDao">

    <select id="selectSystemMetric" resultType="SystemMetricBo">
        SELECT *
        FROM systemMetricLong
        WHERE applicationName = #{applicaionName}
            AND metricName = #{metricName}
            AND fieldName = #{fieldName}
            <foreach collection="list" item="TagBo">
                AND tagName = #{TagBo.tagName} AND tagValue = #{TagBo.tagValue}
            </foreach>
            AND timestampInEpoch BETWEEN #{range.from} AND #{range.to}
        LIMIT #{limit}
    </select>

</mapper>
